
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.App{
    overflow: hidden;
    display: block;
}


@media only screen and (max-width: 411px){
 *{
    overflow-x: hidden;
    overflow-y: hidden;
    display: block;
 }
}