.App-body{

    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;;
}

.body-image{
    position: absolute;
    width: 1170px;
    height: 462px;
    top: 695px;
    left: 135px;
    gap: 0px;
    opacity: 0px;

}

.body-tile{
    position: absolute;
    width: 1,170px;
    height: 386px;
    top: 1287px;
    left: 135px;
    gap: 78px;
    opacity: 0px;

}

.body-tile p{
    font-family: Nunito Sans;
    font-size: 45px;
    font-weight: 600;
    line-height: 65px;
    text-align: left;
    margin: 0;
}

.body-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Dropdowns {
    position: absolute;
    top: 1287px;
    left: 800px;
    width: 622px;
    height:386px;
    gap: 40px;
    opacity: 0px;
}

.Dropdowns ul{
    list-style: none;
}

.question{
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
}

.answer{
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #656565;

}

.App-form-body{
    display: none;
}


@media screen and (max-width: 600px){
    
    .App-form-body{
        visibility:visible;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 340px;
        height: 759px;
        top: 600px;
        left: 9%;
        padding: 80px 30px 50px 30px;
        gap: 6px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0 0 5px 0.2px black;
    
      }
      
      .form-row{
        width: 280px;
        height: 60px;
        display: flex;
        flex-direction: column;
      }
      
      .form-input{
        display: flex;
        flex-direction: row;
        width: 280px;
        height: 27px;
        gap: 3px;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid #743EB4;
        text-decoration-color: #FFFFFF;
        background: transparent;
      }
      
      textarea{
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid #743EB4;
        opacity: 100%;
        text-decoration-color: #FFFFFF;
        background: transparent;
        width: 280px;
        height: 74px;
        gap: 50px;
      }
    
      .captcha{
        position: relative;
        margin: -20px;
        width: 300px;
        height: 74px;
      }
      
      button{
        width: 124px;
        height: 50px;
        padding: 10px 30px 10px 30px;
        gap: 10px;
        border-radius: 5px;
        opacity: 0px;
        background-color: #743EB4;
        color: #FFFFFF;
      }

    .body-image{
        position: absolute;
        width: 1170px;
        height: 462px;
        top: 695px;
        left: 135px;
        gap: 0px;
        opacity: 0px;
        display: none;
    
    }
    
    .body-tile{
        position: absolute;
        width: 340px;
        height: 436.11px;
        top: 1539px;
        left: 9%;
        text-align: center;
    
    }
    
    .body-tile p{
        font-family: Nunito Sans;
        font-size: 36px;
        font-weight: 600;
        line-height: 48px;
        text-align: left;
        margin: 0;
    }
    
    .body-container{
        display: grid;
    }
    
    .Dropdowns {
        position: absolute;
        top: 1700px;
        left: 9%;
        width: 340px;
        height:436px;
        text-align: center;
    }
    
    
    .question{
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 14px;
        text-align: left;
    }
    
    .answer{
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #656565;
    
    }

}