.App-footer{
    background: #1E053C;
    position: absolute;
    top: 1777px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
}

.App-footer img{
    display: inline;
    position: relative;
    width: 209px;
    height: 51.61px;
    top: 70px;
    left: 136px;
    gap: 0px;
    opacity: 0px;
    vertical-align: middle;
}

@media only screen and (max-width: 411px){

}